.contentSize{--spacing: 40px;}


/* 팝업 */


/* 해더 */
header{padding-block: 33px;}
header h1{max-width: 158px;}
header button{font-size: 17px; font-weight: 700; width: 126px; height: 50px;}


/* 푸터 */
footer{display: flex; flex-wrap: wrap; justify-content: space-between; align-items: flex-start;}
footer h2{margin-bottom: 20px;}
footer ul{display: flex;}
footer ul li:not(:last-child)::after{content: ''; width: 2px; background-color: #666; margin-inline: 15px;}
footer address dl:not(:last-of-type)::after{content: ''; margin-inline: 7px;}