br.mobile{display: none;}

body{--spacing: 40px;}


/* 팝업 */
[class*="popup"] > div form fieldset ul{display: flex; flex-wrap: wrap; row-gap: 30px; justify-content: space-between;}
[class*="popup"] > div form fieldset ul li:has(input){width: 47.87%;}


/* 해더 */
header{padding: 25px max(max(calc((var(--fullWidth) - 1920px - var(--scrollWidth)) / 2)), 40px);}
header h1{max-width: 158px;}
header button{font-size: 17px; font-weight: 700; width: 126px; height: 50px;}
header button:not([class]){display: none;}
header nav{margin-left: auto; margin-right: 50px;}
header nav ul{display: flex; gap: 80px; font-size: 18px;}
[class*="popup"] > div button{right: 30px;}


/* 푸터 */
footer{display: flex; flex-wrap: wrap; justify-content: space-between; align-items: flex-start;}
footer h2{margin-bottom: 20px;}
footer ul{display: flex;}
footer ul li:not(:last-child)::after{content: ''; width: 2px; background-color: #666; margin-inline: 15px;}
footer address dl:not(:last-of-type)::after{content: ''; margin-inline: 7px;}