

/* 팝업 */


/* 포인트 */
mark[class*="point"]{font-size: 18px; line-height: 21px; margin-top: 30px;}


/* 해더 */



/* 푸터 */
footer{padding-block: 40px;}
footer h2{width: 133px;}
footer ul{font-size: 20px; line-height: 24px;}
footer ul li:not(:last-child)::after{height: 18px; margin-inline: 15px;}
footer address{font-size: 15px; line-height: 22px;}
footer address dl:not(:last-of-type)::after{height: 13px;}
