/* 최상단 */
.topArea{height: 100vh; background-repeat: no-repeat; background-size: 100%;}
.topArea b{font-weight: 700; display: block;}
.topArea h2{font-weight: 700;}
.topArea p{font-weight: 400;}
.topArea button{font-weight: 700;}


/* 본인 확인 */
.checkArea{text-align: center;}
.checkArea > strong{font-weight: 700; display: block;}
.checkArea .imgArea{background-position: center; background-size: cover;}
.checkArea > p{font-weight: 400;}
.checkArea > p b{font-weight: 700;}
.checkArea > p:nth-of-type(1){position: relative;}
.checkArea > p:nth-of-type(1)::after{content: ''; position: absolute; left: 50%; transform: translateX(-50%); aspect-ratio: 540 / 190; background: url(../images/nextArrow.png) no-repeat center / cover; z-index: -1;}
.checkArea .screenArea ol::before{content: attr(title); display: block; font-weight: 700; border-radius: 100px;}
.checkArea .screenArea ol:nth-child(1)::before{color: #EF413D; background-color: rgba(239, 65, 61, 0.10);}
.checkArea .screenArea ol:nth-child(2)::before{color: #FF8300; background-color: rgba(255, 131, 0, 0.10);}
.checkArea .screenArea ol::after{content: ''; display: block; background-repeat: no-repeat; background-position: center; background-size: cover;}
.checkArea .screenArea ol:nth-child(1)::after{aspect-ratio: 544 / 275; background-image: url(../images/check-kiosk-img01.png);}
.checkArea .screenArea ol:nth-child(2)::after{aspect-ratio: 357 / 275; background-image: url(../images/check-kiosk-img02.png);}
.checkArea .screenArea ol li{text-indent: -9999px; height: .1px; overflow: hidden;}
.checkArea > p:nth-of-type(2){margin-bottom: 120px;}
.checkArea .downloadArea{box-sizing: border-box; background-color: #F7F7F9;}
.checkArea .downloadArea strong{font-weight: 700;}
.checkArea .downloadArea p{font-weight: 500;}
.checkArea .downloadArea button{font-size: 24px; font-weight: 700; text-align: center;}


/* 슬라이더 */
.sliderArea .swiper mark{font-weight: 700; color: #EF413D; display: block;}
.sliderArea .swiper .swiper-slide div strong{font-weight: 700; display: block;}
.sliderArea .swiper .swiper-slide div p{font-weight: 400;}
.sliderArea .swiper .swiper-pagination{text-align: left; pointer-events: none;}
.sliderArea .swiper .swiper-pagination .swiper-pagination-bullet{background-color: #D9D9D9; margin: 0; pointer-events: all; opacity: 1;}
.sliderArea .swiper .swiper-pagination .swiper-pagination-bullet-active{background-color: #EE403D;}


/* 시스템 페이지 */
[class*="Page"]{text-align: center;}
[class*="Page"] section h2{font-weight: 500;}
[class*="Page"] section > p{font-weight: 400;}
[class*="Page"] section > small{color: #666; display: block; margin-inline: auto;}
[class*="Page"]:not(.technologyPage) section > small{border-top: 1px solid #dedede;}
[class*="Page"] section:nth-child(2n){--backgroundColor: #F8F8F8; background-color: var(--backgroundColor); box-shadow: 0 0 0 100vmax var(--backgroundColor); clip-path: inset(0 -100vmax);}


.systemPage .dutyArea ol li::before{content: ''; display: block; aspect-ratio: 380 / 370; background: url('../images/img-system.png') no-repeat left top calc((100% / (var(--idxTotal) - 1)) * var(--styleIdx)) / 100%;}
.systemPage .dutyArea ol li :is(mark, strong){display: block; font-weight: 600;}
.systemPage .dutyArea ol li mark::before{content: ''; position: absolute; aspect-ratio: 1; background-color: var(--color-point); border-radius: 100%;}
.systemPage .dutyArea ol li mark{color: var(--color-point);}
.systemPage .dutyArea ol li:not(:last-child) mark::before{width: 12px;}
.systemPage .dutyArea ol li:not(:last-child) mark::after{content: ''; position: absolute;}
.systemPage .dutyArea ol li strong{color: #222;}
.systemPage .dutyArea ol li p{font-weight: 400; color: #666;}

.systemPage .processArea::after{content: ''; display: block;}

.systemPage .proofArea ul li p::after{content: ''; display: block; aspect-ratio: 560 / 284; background: url(../images/system-ai.png) no-repeat left top calc((100% / (var(--idxTotal) - 1) * var(--styleIdx))) / 100%;}
.systemPage .proofArea ol{position: relative;}
.systemPage .proofArea ol::after{content: ''; aspect-ratio: 214 / 178; position: absolute; left: 50%; top: 50%; /* transform: translate(-50%, -50%); */ translate: -50% -50%; background: url(../images/system-arrow.png) no-repeat center / cover;}
.systemPage .proofArea ol li{font-weight: 600;}
.systemPage .proofArea ol li::before{content: ''; display: block; width: 130px; aspect-ratio: 130 / 100; background: url(../images/icon-system.png) no-repeat left top calc(100% / (var(--idxTotal) - 1) * var(--styleIdx)) / 100%; margin-inline: auto;}


/* 이용안내 */
.usePage section ol li{counter-increment: olList;}
.usePage section ol li::before{content: ''; display: block; background-size: 100%;}
.usePage section ol li b{font-weight: 600; display: block;}
.usePage section ol li b::before{content: counter(olList); display: flex; justify-content: center; align-items: center; line-height: 0; aspect-ratio: 1; margin-inline: auto; color: white; background-color: black; border-radius: 100%;}
.usePage :is(.checkArea, .procedureArea) ol{display: flex; gap: 30px 2.5%;}
.usePage :is(.checkArea, .procedureArea) ol li::before{aspect-ratio: 216 / 348; background-position: left top calc(100% / (var(--idxTotal) - 1) * var(--styleIdx));}
.usePage .checkArea ol li::before{background-image: url(../images/use-ckeck.png);}
.usePage .procedureArea ol li::before{background-image: url(../images/use-procedure.png);}
.usePage .processArea ol li:nth-child(1)::before{aspect-ratio: 257 / 144; background-image: url(../images/use-process01.png);}
.usePage .processArea ol li:nth-child(2)::before{aspect-ratio: 497 / 345; background-image: url(../images/use-process02.png);}
.usePage .processArea ol li:nth-child(3)::before{aspect-ratio: 257 / 172; background-image: url(../images/use-process03.png);}
.usePage .processArea ol li:has(small){position: relative;}
.usePage .processArea ol li small{color: #999;}


/* 기술력 */
.technologyPage table{width: 100%; font-size: 14px; line-height: 17px; color: #222;}
.technologyPage table thead{background-color: #f8f8f8;}
.technologyPage table :is(th, b){font-weight: 700;}
.technologyPage table :is(th, td){vertical-align: middle;}
.technologyPage table thead th{height: 60px; border-top: 2px solid black;  box-sizing: border-box;}
.technologyPage table tbody{border-width: 1px 0; border-style: solid; border-color: #F1F1F1;}
.technologyPage table tbody tr > *{border-bottom: 1px solid #f1f1f1; box-sizing: border-box;}
.technologyPage table tbody tr > *:not(:last-child){border-right: 1px solid #f1f1f1;}
.technologyPage > small{margin-top: 60px; margin-inline: auto;}
.technologyPage .performanceArea > ul li::before{content: ''; display: block; margin-inline: auto; aspect-ratio: 120 / 44; background: url(../images/technology-performance.png) no-repeat left top calc(100% / (var(--idxTotal) - 1) * var(--styleIdx)) / 100%;}
.technologyPage .performanceArea > ul li strong{display: flex; flex-direction: column; justify-content: center; align-items: center; color: #222; font-weight: 600; text-align: center;}
.technologyPage .performanceArea > ul li strong mark{color: var(--color-point);}
.technologyPage .performanceArea > ul li:nth-child(1) table tbody tr td{height: 40px;}
.technologyPage .performanceArea > ul li:nth-child(2) table tbody tr td{height: 60px;}
.technologyPage .performanceArea > ul li:nth-child(3) table tbody tr:nth-child(1) td{height: 56px;}
.technologyPage .performanceArea > ul li:nth-child(3) table tbody tr:nth-child(2) td{height: 184px;}
.technologyPage .performanceArea > ul li:nth-child(4) table:nth-of-type(1) tbody tr td{height: 83px;}
.technologyPage .performanceArea > ul li:nth-child(4) table:nth-of-type(2) tbody tr td{height: 97px;}
.technologyPage .performanceArea > strong{display: block; font-weight: 600;}
.technologyPage .performanceArea > strong::before{content: ''; display: block; width: 44px; margin-inline: auto; aspect-ratio: 1; background: url(../images/technology-reliability.png) no-repeat center / cover;}
.technologyPage .performanceArea > div{overflow: auto;}
.technologyPage .performanceArea > div table{min-width: 945px;}
.technologyPage .performanceArea > div table tbody tr td{vertical-align: top; width: 33.33%;}
.technologyPage .performanceArea > div table tbody tr td p::before{content: ''; display: block; margin-inline: auto; background-position: center; background-size: cover; margin-bottom: 20px;}
.technologyPage .performanceArea > div table tbody tr td .logoBox{display: flex; flex-wrap: wrap; justify-content: center;}
.technologyPage .performanceArea > div table tbody tr td .logoBox li{width: 100px; aspect-ratio: 100 / 22; background-position: left top calc((100% / (var(--idxTotal) - 1)) * var(--styleIdx)); background-size: 100%; white-space: nowrap; text-indent: -9999px;}
.technologyPage .performanceArea > div table tbody tr td:nth-child(1) p{margin-bottom: 12px;}
.technologyPage .performanceArea > div table tbody tr td:nth-child(1) p::before{width: 146px; aspect-ratio: 146 / 170; background-image: url(../images/technology-performance-img01.png);}
.technologyPage .performanceArea > div table tbody tr td:nth-child(2) .logoBox{gap: 15px; max-width: 215px; margin-inline: auto;}
.technologyPage .performanceArea > div table tbody tr td:nth-child(2) .logoBox li{background-image: url(../images/technology-performance-logo01.png);}
.technologyPage .performanceArea > div table tbody tr td:nth-child(2) p{margin-bottom: 35px;}
.technologyPage .performanceArea > div table tbody tr td:nth-child(2) p::before{width: 160px; aspect-ratio: 160 / 170; background-image: url(../images/technology-performance-img02.png);}
.technologyPage .performanceArea > div table tbody tr td:nth-child(3) .iconBox{max-width: 248px; margin-inline: auto; display: flex; flex-wrap: wrap; margin-bottom: 27px;}
.technologyPage .performanceArea > div table tbody tr td:nth-child(3) .iconBox li{width: 50%; padding: 15px; box-sizing: border-box;}
.technologyPage .performanceArea > div table tbody tr td:nth-child(3) .iconBox li::before{content: ''; display: block; margin: 0 auto 12px; width: 30px; aspect-ratio: 1; background: url(../images/technology-performance-icon.png) no-repeat left top calc((100% / (var(--idxTotal) - 1)) * var(--styleIdx)) / 100%;}
.technologyPage .performanceArea > div table tbody tr td:nth-child(3) .iconBox li:nth-child(2n + 1){border-right: 1px solid #F1F1F1;}
.technologyPage .performanceArea > div table tbody tr td:nth-child(3) .iconBox li:nth-child(n + 3){border-top: 1px solid #F1F1F1;}
.technologyPage .performanceArea > div table tbody tr td:nth-child(3) .logoBox{gap: 8px; max-width: 316px; margin-inline: auto;}
.technologyPage .performanceArea > div table tbody tr td:nth-child(3) .logoBox li{background-image: url(../images/technology-performance-logo02.png);}
.technologyPage .performanceArea > small:nth-of-type(1){max-width: 1050px;}
.technologyPage .performanceArea > small:nth-of-type(2){max-width: 1100px;}
.technologyPage .pointArea > ul:nth-of-type(1){position: relative;}
.technologyPage .pointArea > ul:nth-of-type(1)::before{content: ''; position: absolute; aspect-ratio: 1; background: url(../images/icon-plus.png) no-repeat center / cover;}
.technologyPage .pointArea > ul:nth-of-type(1) > li:first-child ul li,
.technologyPage .pointArea > ul:nth-of-type(1) > li:nth-child(2) p{display: flex; flex-direction: column; justify-content: flex-end; color: white; text-align: left; box-sizing: border-box;}
.technologyPage .pointArea > ul:nth-of-type(1) > li:first-child ul{display: flex; flex-wrap: wrap; gap: 12px;}
.technologyPage .pointArea > ul:nth-of-type(1) > li:first-child ul li{width: calc((100% - 12px) / 2); aspect-ratio: 164 / 209; padding: 20px; background: url(../images/technology-point-img01.png) no-repeat left top calc((100% / (var(--idxTotal) - 1)) * var(--styleIdx)) / 100%;}
.technologyPage .pointArea > ul:nth-of-type(1) > li:first-child ul li b{font-weight: 700;}
.technologyPage .pointArea > ul:nth-of-type(1) > li:nth-child(2) p{aspect-ratio: 340 / 430; padding: 30px 33px; background: url(../images/technology-point-img02.png) no-repeat center / cover; font-weight: 700;}
.technologyPage .pointArea > ul:nth-of-type(1) > li:nth-child(2) p small{font-weight: 400;}
.technologyPage .pointArea > b{display: block; font-weight: 500;}
.technologyPage .pointArea > p{color: #666;}
.technologyPage .pointArea > ul:nth-of-type(2) li::before{content: ''; display: block; margin-inline: auto; aspect-ratio: 1; background: url(../images/technology-point-icon.png) no-repeat left top calc((100% / (var(--idxTotal) - 1)) * var(--styleIdx)) / 100%;}
.technologyPage .pointArea > ul:nth-of-type(2) li strong{display: block; font-weight: 600;}
.technologyPage .pointArea > ul:nth-of-type(2) li p{color: #666;}

