/* 최상단 */
.topArea{padding-top: 218px; background-image: url(../images/top-BG.png); background-position: center;}

/* 본인 확인 */
.checkArea .imgArea{aspect-ratio: 944 / 330; margin-bottom: 90px; background-image: url(../images/check-img.png);}
.checkArea .screenArea{display: flex; justify-content: space-between;}
.checkArea .screenArea ol:nth-child(1){width: 57.33%;}
.checkArea .screenArea ol:nth-child(2){width: 37.66%;}
.checkArea .downloadArea p{margin-left: auto;}
.checkArea .downloadArea{border-radius: 16px; display: flex; align-items: center;}

/* 슬라이더 */


/* 시스템 페이지 */
[class*="Page"] section h2:has(+ p){margin-bottom: 30px;}

[class*="Page"] > :first-child{padding-top: 260px;}
[class*="Page"] section{padding-bottom: 120px;}
[class*="Page"] section:not(:first-child){padding-top: 120px;}
[class*="Page"] section > small{font-size: 18px; line-height: 30px; padding-top: 30px; margin-top: 50px;}


.systemPage .dutyArea ol{display: flex; gap: var(--gap); justify-content: space-between; position: relative;}
.systemPage .dutyArea ol li{position: relative; width: 100%;}
.systemPage .dutyArea ol li::before{content: ''; margin-bottom: 80px;}
.systemPage .dutyArea ol li mark{position: relative;}
.systemPage .dutyArea ol li mark::before{left: 50%; top: -38px; transform: translate(-50%, -50%);}
.systemPage .dutyArea ol li:last-child mark::before{width: 16px; box-shadow: 0 0 0 9px rgba(239, 65, 61, 0.3);}
.systemPage .dutyArea ol li:not(:last-child) mark::after{left: 50%; top: -38px; width: calc(100% + var(--gap)); border-top: 2px dashed #EF413D;}
.systemPage .dutyArea ol li strong{margin-bottom: 12px;}
.systemPage .dutyArea small{max-width: 900px;}

.systemPage .processArea::after{aspect-ratio: 1200 / 420; background: url('../images/system-process.png') no-repeat center / cover;}

.systemPage .proofArea ul{display: flex;}
.systemPage .proofArea ul li{flex: 1;}
.systemPage .proofArea small + p{margin-top: 120px; margin-inline: auto;}
.systemPage .proofArea ol{display: flex; justify-content: center; gap: 374px;}
.systemPage .proofArea ol::after{width: 214px;}
.systemPage .proofArea ol li{font-size: 20px; line-height: 24px;}
.systemPage .proofArea ol li::before{margin-bottom: 30px;}


/* 이용안내 */
.usePage section ol li{font-size: 16px; line-height: 22px;}
.usePage section ol li b::before{font-size: 12px; width: 20px; margin-bottom: 8px;}
.usePage section ol li::before{margin-bottom: 20px;}
.usePage :is(.checkArea, .procedureArea) ol li{flex: 1;}
.usePage .processArea ol{display: flex; justify-content: space-between; align-items: center;}
.usePage .processArea ol li:nth-child(1){width: 21.41%;}
.usePage .processArea ol li:nth-child(2){width: 41.41%;}
.usePage .processArea ol li:nth-child(3){width: 21.41%;}
.usePage .processArea ol li small{position: absolute; left: 0; top: calc(100% + 5px); width: 100%; font-size: 13px; line-height: 16px;}
/* .usePage .processArea ol li:not(:last-child){position: relative;}
.usePage .processArea ol li:not(:last-child)::after{content: ''; width: 133px; aspect-ratio: 133 / 12; position: absolute; left: 100%; top: 50%; translate: -100% -50%; background: url(../images/use-arrow.png) no-repeat center / cover;} */



/* 기술력 */
.technologyPage .performanceArea ul{display: flex; gap: 20px;}
.technologyPage .performanceArea ul li{flex: 1;}
.technologyPage .performanceArea ul li::before{width: 120px; margin-bottom: 30px;}
.technologyPage .performanceArea ul li strong{margin-bottom: 30px;}