/* 최상단 */
.topArea{height: 100vh; background-repeat: no-repeat; background-size: 100%;}
.topArea b{font-weight: 700; display: block;}
.topArea h2{font-weight: 700;}
.topArea p{font-weight: 400;}
.topArea button{font-weight: 700;}


/* 본인 확인 */
.checkArea{text-align: center;}
.checkArea > strong{font-weight: 700; display: block;}
.checkArea .imgArea{background-position: center; background-size: cover;}
.checkArea > p{font-weight: 400;}
.checkArea > p b{font-weight: 700;}
.checkArea > p:nth-of-type(1){position: relative;}
.checkArea > p:nth-of-type(1)::after{content: ''; position: absolute; left: 50%; transform: translateX(-50%); aspect-ratio: 540 / 190; background: url(../images/nextArrow.png) no-repeat center / cover; z-index: -1;}
.checkArea .screenArea ol::before{content: attr(title); display: block; font-weight: 700; border-radius: 100px;}
.checkArea .screenArea ol:nth-child(1)::before{color: #EF413D; background-color: rgba(239, 65, 61, 0.10);}
.checkArea .screenArea ol:nth-child(2)::before{color: #FF8300; background-color: rgba(255, 131, 0, 0.10);}
.checkArea .screenArea ol::after{content: ''; display: block; background-repeat: no-repeat; background-position: center; background-size: cover;}
.checkArea .screenArea ol:nth-child(1)::after{aspect-ratio: 544 / 275; background-image: url(../images/check-kiosk-img01.png);}
.checkArea .screenArea ol:nth-child(2)::after{aspect-ratio: 357 / 275; background-image: url(../images/check-kiosk-img02.png);}
.checkArea .screenArea ol li{text-indent: -9999px; height: .1px; overflow: hidden;}
.checkArea > p:nth-of-type(2){margin-bottom: 120px;}
.checkArea .downloadArea{box-sizing: border-box; background-color: #F7F7F9;}
.checkArea .downloadArea strong{font-weight: 700;}
.checkArea .downloadArea p{font-weight: 500;}
.checkArea .downloadArea button{font-size: 24px; font-weight: 700; text-align: center;}


/* 슬라이더 */
.sliderArea .swiper mark{font-weight: 700; color: #EF413D; display: block;}
.sliderArea .swiper .swiper-slide div strong{font-weight: 700; display: block;}
.sliderArea .swiper .swiper-slide div p{font-weight: 400;}
.sliderArea .swiper .swiper-pagination{text-align: left; pointer-events: none;}
.sliderArea .swiper .swiper-pagination .swiper-pagination-bullet{background-color: #D9D9D9; margin: 0; pointer-events: all; opacity: 1;}
.sliderArea .swiper .swiper-pagination .swiper-pagination-bullet-active{background-color: #EE403D;}


/* 시스템 페이지 */
.systemPage{text-align: center;}
.systemPage section h2{font-weight: 500;}
.systemPage section > p{font-weight: 400;}
.systemPage section small{color: #666; display: block; margin-inline: auto; border-top: 1px solid #dedede;}

.systemPage .dutyArea ol li::before{content: ''; display: block; aspect-ratio: 380 / 370; background: url('../images/img-system.png') no-repeat left top calc((100% / (var(--idxTotal) - 1)) * var(--styleIdx)) / 100%;}
.systemPage .dutyArea ol li :is(mark, strong){display: block; font-weight: 600;}
.systemPage .dutyArea ol li mark::before{content: ''; position: absolute; aspect-ratio: 1; background-color: var(--color-point); border-radius: 100%;}
.systemPage .dutyArea ol li mark{color: var(--color-point);}
.systemPage .dutyArea ol li:not(:last-child) mark::before{width: 12px;}
.systemPage .dutyArea ol li:not(:last-child) mark::after{content: ''; position: absolute;}
.systemPage .dutyArea ol li strong{color: #222;}
.systemPage .dutyArea ol li p{font-weight: 400; color: #666;}

.systemPage .processArea{--backgroundColor: #F8F8F8; background-color: var(--backgroundColor); box-shadow: 0 0 0 100vmax var(--backgroundColor); clip-path: inset(0 -100vmax);}
.systemPage .processArea::after{content: ''; display: block;}

.systemPage .proofArea ul li p::after{content: ''; display: block; aspect-ratio: 560 / 284; background: url(../images/system-ai.png) no-repeat left top calc((100% / (var(--idxTotal) - 1) * var(--styleIdx))) / 100%;}
.systemPage .proofArea ul li mark{display: block; font-weight: 600; padding-block: 12px; border-radius: 100px;}
.systemPage .proofArea ul li:nth-child(1) mark{color: var(--color-point); background-color: rgba(239, 65, 61, 0.1);}
.systemPage .proofArea ul li:nth-child(2) mark{color: #FF8300; background-color: rgba(255, 131, 0, 0.1);}
.systemPage .proofArea ol{position: relative;}
.systemPage .proofArea ol::after{content: ''; aspect-ratio: 214 / 178; position: absolute; left: 50%; top: 50%; /* transform: translate(-50%, -50%); */ translate: -50% -50%; background: url(../images/system-arrow.png) no-repeat center / cover;}
.systemPage .proofArea ol li{font-weight: 600;}
.systemPage .proofArea ol li::before{content: ''; display: block; width: 130px; aspect-ratio: 130 / 100; background: url(../images/icon-system.png) no-repeat left top calc(100% / (var(--idxTotal) - 1) * var(--styleIdx)) / 100%; margin-inline: auto;}