/* 최상단 */
.topArea{padding-top: 120px; margin-bottom: 90px; background-image: url(../images/top-BG-m.png); background-position: center bottom;}
.topArea b{font-size: 14px; line-height: 17px; margin-bottom: 16px;}
.topArea h2{font-size: 32px; line-height: 38px; margin-bottom: 20px;}
.topArea p{font-size: 13px; line-height: 20px; margin-bottom: 30px;}
.topArea button{width: 153px; height: 40px; font-size: 13px;}

/* 본인 확인 */


/* 슬라이더 */
