/* 최상단 */
.topArea{margin-bottom: 50px;}
.topArea > b{font-size: 24px; line-height: 29px; margin-bottom: 34px;}
.topArea h2{font-size: 60px; line-height: 72px; margin-bottom: 54px;}
.topArea p{font-size: 20px; line-height: 30px; margin-bottom: 100px;}
.topArea button{width: 268px; height: 62px; font-size: 20px;}

/* 본인 확인 */
:is(.checkArea, .screenArea) > p:nth-of-type(1){font-size: 34px; line-height: 41px; margin-bottom: 60px;}
:is(.checkArea, .screenArea) > p:nth-of-type(2){font-size: 24px; line-height: 36px;}
:is(.checkArea, .screenArea) button{height: 62px; padding-inline: 67px; font-size: 20px;}
.checkArea{margin-bottom: 120px;}
.checkArea > strong{font-size: 50px; line-height: 60px; margin-bottom: 80px;}
.screenArea{padding-block: 120px;}
.screenArea div{margin-bottom: 50px;}
.screenArea div ol::before{font-size: 18px; line-height: 48px; margin-bottom: 50px;}


/* 다운로드 */
.downloadArea{margin-bottom: 160px;}
.downloadArea p{font-size: 30px; line-height: 42px;}
.downloadArea button{width: 232px; font-size: 24px;}


/* 시스템 특장점 */
.featuresArea{margin-bottom: 240px;}
.featuresArea > strong{font-size: 50px; line-height: 60px ; margin-bottom: 80px;}
.featuresArea ol li::after{width: 400px;}
.featuresArea ol li div b{font-size: 36px; line-height: 50px;}


/* 시스템 페이지 */
[class*="Page"] section h2{font-size: 48px; line-height: 57px;}
[class*="Page"] section :is(h2 + p, h2:not(:has(+ p))){margin-bottom: 70px;}
[class*="Page"] section > p{font-size: 24px; line-height: 36px;}

.systemPage .dutyArea ol{--gap: 30px;}
.systemPage .dutyArea ol li :is(mark, strong){font-size: 20px;}
.systemPage .dutyArea ol li mark{margin-bottom: 20px;}
.systemPage .dutyArea ol li p{font-size: 18px;}

.systemPage .proofArea ul{gap: 80px;}
.systemPage .proofArea ul li p{font-size: 24px; line-height: 36px;}
.systemPage .proofArea ul li p::after{margin-top: 40px;}
.systemPage .proofArea > small + p{max-width: 700px; margin-bottom: 70px;}


/* 이용안내 */


/* 기술력 */
.technologyPage .performanceArea > ul li strong{font-size: 26px; line-height: 36px; min-height: 72px;}

.technologyPage .pointArea mark[class*="point"]{margin-bottom: 30px;}
.technologyPage .pointArea > ul:nth-of-type(1){margin-bottom: 90px;}
.technologyPage .pointArea > b{font-size: 24px; line-height: 36px;}