/* 최상단 */


/* 본인 확인 */


/* 슬라이더 */
.sliderArea .swiper .swiper-slide{text-align: right;}
.sliderArea .swiper .swiper-slide div{text-align: left;}
.sliderArea .swiper .swiper-pagination .swiper-pagination-bullet{width: 9px; height: 9px; border-radius: 5px;}
.sliderArea .swiper .swiper-pagination .swiper-pagination-bullet-active{width: 18px;}
.sliderArea .swiper .swiper-pagination span:not(:last-child){margin-right: 7px;}


/* 시스템 페이지 */
[class*="Page"] .dutyArea ol li :is(mark, strong){font-size: 18px;}
[class*="Page"] .dutyArea ol li mark{margin-bottom: 16px;}
[class*="Page"] .dutyArea ol li p{font-size: 16px;}


/* 이용안내 */