/* 최상단 */


/* 본인 확인 */


/* 시스템 특장점 */


/* 시스템 페이지 */
[class*="Page"] .dutyArea ol li :is(mark, strong){font-size: 18px;}
[class*="Page"] .dutyArea ol li mark{margin-bottom: 16px;}
[class*="Page"] .dutyArea ol li p{font-size: 16px;}


/* 이용안내 */


/* 기술력 */