/* 최상단 */
.topArea{padding-block: 218px; height: 100vh; margin-bottom: 50px;}
.topArea b{font-size: 24px; line-height: 29px; margin-bottom: 34px; font-weight: 700; display: block;}
.topArea h2{font-size: 60px; line-height: 72px; margin-bottom: 54px; font-weight: 700;}
.topArea p{font-size: 20px; line-height: 30px; font-weight: 400; margin-bottom: 70px;}
.topArea button{width: 268px; height: 62px;}


/* 본인 확인 */
.checkArea{text-align: center; margin-bottom: 180px;}
.checkArea > strong{font-size: 48px; line-height: 57px; margin-bottom: 70px; font-weight: 700; display: block;}
.checkArea img{margin-bottom: 90px;}
.checkArea > p{font-size: 24px; line-height: 36px; font-weight: 400;}
.checkArea > p b{font-weight: 700;}
.checkArea > p:nth-of-type(1){margin-bottom: 228px; position: relative;}
.checkArea > p:nth-of-type(1)::after{content: ''; position: absolute; top: calc(100% - 22px); left: 50%; transform: translateX(-50%); width: 540px; aspect-ratio: 540 / 190; background: url(../images/nextArrow.png) no-repeat center / cover; z-index: -1;}
.checkArea .screenArea{display: flex; justify-content: space-between; margin-bottom: 50px;}
.checkArea .screenArea ol{display: flex; flex-wrap: wrap;}
.checkArea .screenArea ol:nth-child(1){width: 57.33%;}
.checkArea .screenArea ol:nth-child(2){width: 37.66%;}
.checkArea .screenArea ol::before{content: attr(title); width: 100%; font-size: 18px; line-height: 48px; margin-bottom: 50px; font-weight: 700; border-radius: 100px;}
.checkArea .screenArea ol:nth-child(1)::before{color: #EF413D; background-color: rgba(239, 65, 61, 0.10);}
.checkArea .screenArea ol:nth-child(2)::before{color: #FF8300; background-color: rgba(255, 131, 0, 0.10);}
.checkArea .screenArea ol::after{content: ''; width: 100%; height: 348px; background-repeat: no-repeat; background-position: center; background-size: cover;}
.checkArea .screenArea ol:nth-child(1)::after{background-image: url(../images/check-kiosk-img01.png);}
.checkArea .screenArea ol:nth-child(2)::after{background-image: url(../images/check-kiosk-img02.png);}
.checkArea .screenArea ol li{text-indent: -9999px;}
.checkArea > p:nth-of-type(2){margin-bottom: 120px;}
.checkArea .downloadArea{padding: 39px 70px; box-sizing: border-box; background-color: #F7F7F9; border-radius: 16px; display: flex; align-items: center;}
.checkArea .downloadArea strong{font-size: 28px; font-weight: 700;}
.checkArea .downloadArea p{margin-left: auto; font-size: 25px; font-weight: 500;}
.checkArea .downloadArea a{margin-left: 16px; font-size: 24px; font-weight: 700; width: 174px; line-height: 64px; text-align: center;}


/* 슬라이더 */
.sliderArea{margin-bottom: 240px;}
.sliderArea .swiper .swiper-slide{display: flex; align-items: center; justify-content: space-between;}
/* .sliderArea .swiper .swiper-slide div mark{font-size: 20px; line-height: 24px; margin-bottom: 50px; font-weight: 700; color: #EF413D; display: block;} */
.sliderArea .swiper .swiper-slide div strong{font-size: 48px; line-height: 57px; margin-bottom: 40px; font-weight: 700; display: block;}
.sliderArea .swiper .swiper-slide div p{font-size: 24px; line-height: 36px; font-weight: 400;}
.sliderArea .swiper .swiper-slide img{width: 560px;}
.sliderArea .swiper .swiper-pagination{bottom: 178px; text-align: left; pointer-events: none;}
.sliderArea .swiper .swiper-pagination .swiper-pagination-bullet{width: 10px; height: 10px; border-radius: 5px; background-color: #D9D9D9; margin: 0; pointer-events: all; opacity: 1;}
.sliderArea .swiper .swiper-pagination .swiper-pagination-bullet-active{width: 20px; background-color: #EE403D;}
.sliderArea .swiper .swiper-pagination span:not(:last-child){margin-right: 10px;}
.sliderArea .swiper mark{position: absolute; left: 0; top: 178px; font-size: 20px; line-height: 24px; font-weight: 700; color: #EF413D;}