/* 최상단 */
.topArea{margin-bottom: 60px;}
.topArea > b{font-size: 19px; line-height: 23px; margin-bottom: 27px;}
.topArea h2{font-size: 48px; line-height: 57px; margin-bottom: 45px;}
.topArea p{font-size: 16px; line-height: 24px; margin-bottom: 56px;}
.topArea button{width: 215px; height: 50px; font-size: 16px;}

/* 본인 확인 */
.checkArea{margin-bottom: 100px;}
:is(.checkArea, .screenArea) > p:nth-of-type(1){font-size: 32px; line-height: 38px; margin-bottom: 40px;}
:is(.checkArea, .screenArea) > p:nth-of-type(2){font-size: 21px; line-height: 32px;}
:is(.checkArea, .screenArea) a{line-height: 50px; padding-inline: 54px; font-size: 16px;}
.checkArea > strong{font-size: 42px; line-height: 50px; margin-bottom: 60px;}
.screenArea{padding-block: 100px;}
.screenArea div ol::before{font-size: 16px; line-height: 44px; margin-bottom: 45px;}


/* 다운로드 */
.downloadArea{margin-bottom: 150px;}
.downloadArea p{font-size: 26px; line-height: 38px;}
.downloadArea button{width: 212px; font-size: 21px;}


/* 시스템 특장점 */
.featuresArea{margin-bottom: 200px;}
.featuresArea > strong{font-size: 42px; line-height: 50px; margin-bottom: 60px;}
.featuresArea ol li::after{width: 324px;}
.featuresArea ol li div b{font-size: 32px; line-height: 42px;}


/* 시스템 페이지 */
[class*="Page"] section h2{font-size: 42px; line-height: 50px;}
[class*="Page"] section :is(h2 + p, h2:not(:has(+ p))){margin-bottom: 60px;}
[class*="Page"] section > p{font-size: 21px; line-height: 32px;}

.systemPage .dutyArea ol{--gap: 22px;}
.systemPage .proofArea ul{gap: 60px;}
.systemPage .proofArea ul li p{font-size: 21px; line-height: 32px;}
.systemPage .proofArea ul li p::after{margin-top: 30px;}
.systemPage .proofArea ul li mark[class*="point"]{margin-top: 25px;}
.systemPage .proofArea > small + p{max-width: 600px; margin-bottom: 60px;}


/* 이용안내 */


/* 기술력 */
.technologyPage .performanceArea > ul li strong{font-size: 22px; line-height: 32px; min-height: 64px;}

.technologyPage .pointArea mark[class*="point"]{margin-bottom: 25px;}
.technologyPage .pointArea > ul:nth-of-type(1){margin-bottom: 80px;}
.technologyPage .pointArea > strong{font-size: 21px; line-height: 32px;} 