/* 최상단 */
.topArea{margin-bottom: 60px;}
.topArea b{font-size: 19px; line-height: 23px; margin-bottom: 27px;}
.topArea h2{font-size: 48px; line-height: 57px; margin-bottom: 45px;}
.topArea p{font-size: 16px; line-height: 24px; margin-bottom: 56px;}
.topArea button{width: 215px; height: 50px; font-size: 16px;}

/* 본인 확인 */
.checkArea{margin-bottom: 140px;}
.checkArea > strong{font-size: 42px; line-height: 50px; margin-bottom: 85px;}
.checkArea > p{font-size: 21px; line-height: 32px;}
.checkArea > p:nth-of-type(1){margin-bottom: 202px;}
.checkArea > p:nth-of-type(1)::after{top: calc(100% - 20px); width: 486px;}
.checkArea .screenArea{margin-bottom: 67px;}
.checkArea .screenArea ol::before{font-size: 16px; line-height: 44px; margin-bottom: 45px;}
.checkArea .downloadArea{padding: 37px 60px;}
.checkArea .downloadArea strong{font-size: 24px;}
.checkArea .downloadArea p{font-size: 21px;}
.checkArea .downloadArea button{margin-left: 20px; width: 164px; line-height: 60px;}


/* 슬라이더 */
.sliderArea{margin-bottom: 196px;}
.sliderArea .swiper mark{font-size: 17px; line-height: 20px;}
.sliderArea .swiper .swiper-slide div strong{font-size: 42px; line-height: 50px; margin-bottom: 37px;}
.sliderArea .swiper .swiper-slide div p{font-size: 21px; line-height: 32.5px;}
.sliderArea .swiper .swiper-slide img{max-width: clamp(506px, 49.12%, 467px);}
@media screen and (1000px <= width) {
    .sliderArea .swiper mark{margin-bottom: 46px;}
    .sliderArea .swiper .swiper-slide div{position: absolute; left: var(--spacing); top: 50%; transform: translateY(-50%);}
    .sliderArea .swiper .swiper-pagination{bottom: 163px;}
}
@media screen and (width < 1000px) {
    .sliderArea .swiper mark{margin-bottom: 48px;}
    .sliderArea .swiper .swiper-pagination{bottom: 600px;}
}


/* 시스템 페이지 */
[class*="Page"] section h2{font-size: 42px; line-height: 50px;}
[class*="Page"] section :is(h2 + p, h2:not(:has(+ p))){margin-bottom: 60px;}
[class*="Page"] section > p{font-size: 21px; line-height: 32px;}

.systemPage .dutyArea ol{--gap: 22px;}
.systemPage .proofArea ul{gap: 60px;}
.systemPage .proofArea ul li p{font-size: 21px; line-height: 32px;}
.systemPage .proofArea ul li p::after{margin-top: 30px;}
.systemPage .proofArea > small + p{max-width: 600px; margin-bottom: 60px;}


/* 이용안내 */


/* 기술력 */
.technologyPage .performanceArea > ul li strong{font-size: 22px; line-height: 32px; min-height: 64px;}

.technologyPage .pointArea mark[class*="point"]{margin-bottom: 25px;}
.technologyPage .pointArea > ul:nth-of-type(1){margin-bottom: 80px;}
.technologyPage .pointArea > strong{font-size: 21px; line-height: 32px;} 