/* 최상단 */
.topArea{padding-top: 120px; margin-bottom: 90px; background-image: url(../images/top-BG-m.png); background-position: center bottom;}
.topArea b{font-size: 14px; line-height: 17px; margin-bottom: 16px;}
.topArea h2{font-size: 32px; line-height: 38px; margin-bottom: 20px;}
.topArea p{font-size: 13px; line-height: 20px; margin-bottom: 30px;}
.topArea button{width: 153px; height: 40px; font-size: 13px;}

/* 본인 확인 */
.checkArea{margin-bottom: 100px;}
.checkArea > strong{font-size: 24px; line-height: 29px; margin-bottom: 50px;} 
.checkArea .imgArea{aspect-ratio: 320 / 760; margin-bottom: 50px; background-image: url(../images/check-img-m.png);}
.checkArea > p{font-size: 15px; line-height: 20px;}
.checkArea > p:nth-of-type(1){margin-bottom: 127px;}
.checkArea > p:nth-of-type(1)::after{top: calc(100% - 36px); width: 320px;}
.checkArea .screenArea{margin-bottom: 100px;}
.checkArea .screenArea ol::before{font-size: 15px; line-height: 42px; margin-bottom: 30px;}
.checkArea .screenArea ol:not(:last-of-type){margin-bottom: 50px;}
.checkArea .screenArea ol:nth-child(2)::after{width: 65.625%; margin-inline: auto;}
.checkArea .downloadArea{padding: 30px 20px;}
.checkArea .downloadArea strong{font-size: 17px; line-height: 20px; margin-bottom: 20px; display: block;}
.checkArea .downloadArea p{font-size: 15px; line-height: 18px; margin-bottom: 10px;}
.checkArea .downloadArea button{font-size: 15px; width: 112px; line-height: 42px;} 
.checkArea .downloadArea{border-radius: 12px;}


/* 슬라이더 */
.sliderArea{margin-bottom: 150px;} 
.sliderArea .swiper mark{font-size: 15px; line-height: 18px; margin-bottom: 30px; display: block;}
.sliderArea .swiper .swiper-slide div strong{font-size: 24px; line-height: 29px; margin-bottom: 20px;}
.sliderArea .swiper .swiper-slide div p{font-size: 15px; line-height: 22px; margin-bottom: 89px;}
.sliderArea .swiper .swiper-slide img{max-width: 500px;}
.sliderArea .swiper .swiper-pagination{top: 192px;}


/* 시스템 페이지 */
[class*="Page"] section h2{font-size: 28px; line-height: 33px;}
[class*="Page"] section h2:has(+ p){margin-bottom: 20px;}
[class*="Page"] section :is(h2 + p, h2:not(:has(+ p))){margin-bottom: 50px;}
[class*="Page"] section > p{font-size: 15px; line-height: 20px;}
[class*="Page"] section > small{font-size: 13px; line-height: 18px;}
[class*="Page"]:not(.technologyPage) section > small{padding-top: 20px; margin-top: 40px;}

[class*="Page"] > :first-child{padding-top: 138px;}
[class*="Page"] section{padding-bottom: 80px;}
[class*="Page"] section:not(:first-child){padding-top: 80px;}

.systemPage .dutyArea ol li{padding-left: 40px; position: relative; text-align: left;}
.systemPage .dutyArea ol li:not(:last-child){padding-bottom: 40px;}
.systemPage .dutyArea ol li::before{margin-bottom: 20px;}
.systemPage .dutyArea ol li mark::before{left: 0; top: 0;}
.systemPage .dutyArea ol li:last-child mark::before{width: 10px; box-shadow: 0 0 0 5px rgba(239, 65, 61, 0.3);}
.systemPage .dutyArea ol li:not(:last-child) mark::after{left: 4px; top: 0; height: 100%; border-left: 2px dashed #EF413D;}
.systemPage .dutyArea ol li strong{margin-bottom: 10px;}

.systemPage .processArea::after{aspect-ratio: 320 / 760; background: url('../images/system-process-m.png') no-repeat center / cover;}
.systemPage .proofArea ul li p{font-size: 15px; line-height: 20px;}
.systemPage .proofArea ul li p::after{margin-top: 20px;}
.systemPage .proofArea ul li:not(:last-child){margin-bottom: 40px;}
.systemPage .proofArea small + p{margin-bottom: 40px; margin-top: 60px;}
.systemPage .proofArea ol li{font-size: 15px; line-height: 20px;}
.systemPage .proofArea ol li:not(:last-child){margin-bottom: 138px;}
.systemPage .proofArea ol li::before{margin-bottom: 12px;}
.systemPage .proofArea ol::after{width: 108px; rotate: 90deg;}


/* 이용안내 */
.usePage section ol li{font-size: 12px; line-height: 15px;}
.usePage section ol li b::before{font-size: 10px; width: 15px; margin-bottom: 6px;}
.usePage section ol li::before{margin-bottom: 15px;}
.usePage :is(.checkArea, .procedureArea) ol{flex-wrap: wrap; justify-content: center;}
.usePage :is(.checkArea, .procedureArea) ol li{width: 100px;}
.usePage .processArea ol li{margin-inline: auto;}
.usePage .processArea ol li:not(:last-child){margin-bottom: 80px;}
.usePage .processArea ol li:nth-child(1){width: 63.125%;}
.usePage .processArea ol li:nth-child(2){width: 80.625%;}
.usePage .processArea ol li:nth-child(3){width: 63.125%;}


/* 기술력 */
.technologyPage section > small{margin-bottom: 80px;}
.technologyPage .performanceArea > ul li::before{width: 100px; margin-bottom: 15px;}
.technologyPage .performanceArea > ul li:not(:last-child){margin-bottom: 40px;}
.technologyPage .performanceArea > ul li strong{font-size: 16px; line-height: 22px; min-height: 44px; margin-bottom: 20px;}
.technologyPage .performanceArea > strong{margin-bottom: 20px;}
.technologyPage .performanceArea > strong::before{margin-bottom: 15px;}
.technologyPage .performanceArea > div table tbody tr td{padding-block: 20px;}

.technologyPage .pointArea mark[class*="point"]{margin-bottom: 20px;}
.technologyPage .pointArea > ul:nth-of-type(1){margin-bottom: 70px;}
.technologyPage .pointArea > ul:nth-of-type(1)::before{width: 22px; left: 50%; top: 49%; transform: translate(-50%);}
.technologyPage .pointArea > ul:nth-of-type(1) > li:not(:last-child){margin-bottom: 72px;}
.technologyPage .pointArea > ul:nth-of-type(1) > li:first-child ul li b{font-size: 15px; line-height: 18px;}
.technologyPage .pointArea > ul:nth-of-type(1) > li:first-child ul li p{font-size: 13px; line-height: 16px; margin-top: 5px;}
.technologyPage .pointArea > ul:nth-of-type(1) > li:nth-child(2) p{font-size: 18px; line-height: 21px;}
.technologyPage .pointArea > ul:nth-of-type(1) > li:nth-child(2) p small{font-size: 13px; line-height: 16px; margin-top: 10px;}
.technologyPage .pointArea > b{font-size: 18px; line-height: 22px; margin-bottom: 12px;}
.technologyPage .pointArea > p{font-size: 13px; line-height: 18px; margin-bottom: 40px;}
.technologyPage .pointArea > ul:nth-of-type(2) li:not(:last-child){margin-bottom: 40px;}
.technologyPage .pointArea > ul:nth-of-type(2) li::before{width: 80px; margin-bottom: 12px;}
.technologyPage .pointArea > ul:nth-of-type(2) li strong{font-size: 16px; line-height: 20px; margin-bottom: 10px;}
.technologyPage .pointArea > ul:nth-of-type(2) li p{font-size: 13px; line-height: 18px;}