/* 최상단 */
.topArea{padding-top: 120px; margin-bottom: 90px; background-image: url(../images/top-BG-m.png); background-position: center bottom;}
.topArea b{font-size: 14px; line-height: 17px; margin-bottom: 16px;}
.topArea h2{font-size: 32px; line-height: 38px; margin-bottom: 20px;}
.topArea p{font-size: 13px; line-height: 20px; margin-bottom: 30px;}
.topArea button{width: 153px; height: 40px; font-size: 13px;}

/* 본인 확인 */
.checkArea{margin-bottom: 100px;}
.checkArea > strong{font-size: 24px; line-height: 29px; margin-bottom: 50px;} 
.checkArea .imgArea{aspect-ratio: 320 / 760; margin-bottom: 50px; background-image: url(../images/check-img-m.png);}
.checkArea > p{font-size: 15px; line-height: 20px;}
.checkArea > p:nth-of-type(1){margin-bottom: 127px;}
.checkArea > p:nth-of-type(1)::after{top: calc(100% - 36px); width: 320px;}
.checkArea .screenArea{margin-bottom: 100px;}
.checkArea .screenArea ol::before{font-size: 15px; line-height: 42px; margin-bottom: 30px;}
.checkArea .screenArea ol:not(:last-of-type){margin-bottom: 50px;}
.checkArea .screenArea ol:nth-child(2)::after{width: 65.625%; margin-inline: auto;}
.checkArea .downloadArea{padding: 30px 20px;}
.checkArea .downloadArea strong{font-size: 17px; line-height: 20px; margin-bottom: 20px; display: block;}
.checkArea .downloadArea p{font-size: 15px; line-height: 18px; margin-bottom: 10px;}
.checkArea .downloadArea button{font-size: 15px; width: 112px; line-height: 42px;} 
.checkArea .downloadArea{border-radius: 12px;}


/* 슬라이더 */
.sliderArea{margin-bottom: 150px;} 
.sliderArea .swiper mark{font-size: 15px; line-height: 18px; margin-bottom: 30px; display: block;}
.sliderArea .swiper .swiper-slide div strong{font-size: 24px; line-height: 29px; margin-bottom: 20px;}
.sliderArea .swiper .swiper-slide div p{font-size: 15px; line-height: 22px; margin-bottom: 89px;}
.sliderArea .swiper .swiper-slide img{max-width: 500px;}
.sliderArea .swiper .swiper-pagination{top: 192px;}
